<div class="team-boxed">
	<div class="container">
		<div class="intro">
			<h2 class="text-center">Team </h2>
			<p class="text-center">Our core team consists of highly experienced Electronics Engineers</p>
		</div>
		<div class="row people">
			<div class="col-md-4 col-sm-6 item" style="padding: 700 px;">
				<div class="box" style="padding: 130 px;"><img class="img-circle" src="assets\img\pp.jpg">
					<h3 class="name">Pradeep Bhalange</h3>
					<p class="title">Chief Marketing officer</p>
					<p class="description">
					A highly competent electronics engineer who built SP Tronics from Scratch.
					</p>
					<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 item">
				<div class="box"><img class="img-circle" src="assets\img\3.jpg">
					<h3 class="name">Suresh</h3>
					<p class="title">Chief Technology officer</p>
					<p class="description">Some Text Here!</p>
					<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
			</div>
		</div>
	</div>
</div>